@font-face {
    font-family: 'gotham';
    src: url('./Gothamblack/Gotham\ Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


.titulo-principal {
    font-family: 'gotham', sans-serif;
}

a {
    text-decoration: none;
}

.nav-item {
    position: relative;
    display: inline-block;
}

.nav-item::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: currentColor;
    left: 0;
    bottom: 0;
    transition: width 0.3s ease;
}

.nav-item:hover::after {
    width: 100%;
}

h1,
h3 {
    font-family: 'Archivo Black', sans-serif;
}

.navbar {
    background-color: #000000;
    position: fixed;
    width: 100%;
    backdrop-filter: blur(8px);
    /* Añade el efecto de blur */
    -webkit-backdrop-filter: blur(8px);
    /* Compatibilidad con navegadores WebKit */
}

.btn-informacion {
    background-color: black;
    color: white;
    border: 1px #FFD000 solid;
    width: 60%;
    margin-top: 20px;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.btn-informacion:hover {
    background-color: #FFD000;
    color: black;
    -webkit-box-shadow: 5px 5px 0px 0px #ffe15c, 10px 10px 0px 0px #ffeb93, 5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 5px 5px 0px 0px #ffe15c, 10px 10px 0px 0px #ffeb93, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.btn-registrarse {
    background-color: #F2CE1B;
    color: rgb(0, 0, 0);
    width: 50%;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    transition: all ease 0.2s;

}

.btn-registrarse:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    transform: translateY(10px);

}

.btn-iniciar {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 0px;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    transition: all ease 0.2s;
}

.btn-iniciar:hover {
    background-color: #ffffff;
    color: black;
    transform: translateY(10px);
}

.btn-blanco {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.btn-blanco:hover {
    background-color: black;
    color: white;
    border: 1px #FFD000 solid;
}


.text-secondary,
p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}

/* Estilos para el marquee infinito - versión mejorada */
.marquee-container {
    width: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 0;
    backdrop-filter: blur(8px);
    /* Añade el efecto de blur */
    -webkit-backdrop-filter: blur(8px);
    /* Compatibilidad con navegadores WebKit */
}

.marquee {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.marquee-content {
    display: flex;
    gap: 4.8rem;
    width: max-content;
    align-items: center;
    animation: scroll 50s linear infinite;
    white-space: nowrap;
    transform: translateX(-50%);
}

.marquee-item {
    display: inline-flex;
    align-items: center;
    margin: 0 30px;
}

.marquee img {
    height: 27px;
    filter: brightness(0) invert(1);
    cursor: pointer;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-51%);
    }
}



/*  ****************************************** SECTION 3 *************************************** */

#texto-dorado {
    color: #F2CE1B;


}

#texto-verde {
    color: #F2CE1B;


}

/*  **************************************** SECTION 4 ************************************* */

#btn-ver {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 15px;
    width: 50%;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    border: none;
}

#btn-ver:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


@media (max-width: 768px) {
    .navbar-brand img {
        width: 45px;
        display: flex;
        margin-left: 5px;
    }

    /*     #contenedor-navbar-resp{
        ma-height: 10vh;
    } */
    .seccion-ajustable {
        background-position: left center;
        /* Ajusta la posición en móviles */

    }

    .seccion-ajustable h1 {
        font-size: 2.5rem;
        /* Texto más pequeño en móviles */
    }

    .seccion-ajustable h3 {
        font-size: 1.2rem;
    }
}

@media (max-width: 576px) {
    .seccion-ajustable {
        min-height: 80vh; /* Altura reducida en pantallas muy pequeñas */
    }
}

.seccion-ajustable {
    min-height: 100vh;
    background-image: url('./images/secciones/PT1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    /* Esto ayuda en dispositivos móviles */
}